{% extends 'base.html' %}
{% load static %}
{% block description %}
{#description#}
{% endblock %}
{% block title %}
    Fj Group | پروژه ها
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'Css/Interior.css' %}">
    <link rel="stylesheet" href="{% static 'Css/Project.css' %}">
{% endblock %}
<!DOCTYPE html>
<html lang="en">


<body>
{% block content %}
    {% include 'includes/header2.html' %}
    <main>
        <div class="container">
            <div class="row mt-5 mb-5">
                <input type="search" class="form-control col-md-6 border-0 mt-3 mb-4" placeholder="Search">
                <ul class="list-group list-group-horizontal flex-wrap container-fluid">
                    {% for cat in categories %}
                    <li class="list-group-item btn btn-outline-dark mx-1 mb-2 px-2 projectType {{ cat.project_type }} text-dark EN text-nowrap" data-filter="{{ cat.title }}">{{ cat.title }}<i class="bi bi-x h5 xicon1 hidden"></i></li>
                    <li class="list-group-item btn btn-outline-dark mx-1 mb-2 px-2 projectType {{ cat.project_type }} text-dark FA text-nowrap" data-filter="{{ cat.title }}">{{ cat.persian_title }}<i class="bi bi-x h5 xicon1 hidden"></i></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="row mt-5">
                {% for project in projects %}
                <div class="col-md-4 col-sm-12 mb-4" {{ project.category.all }}>
                    <a href="{{ project.get_absolute_url }}"><img src="{{ project.cover_image.url }}" alt="project image" class="img-fluid mb-3"></a>
                    <span class="AJensonPro mt-3">{{ project.title }}</span><br>
                    <span class="d-inline-block mt-1">{{ project.location }}</span>
                    <span class="d-inline-block AJensonPro">{{ project.planning }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
</body>

</html>