{% extends 'base.html' %}
{% load static %}
{% block description %}
{#description#}
{% endblock %}
{% block title %}
    Fj Group | پروژه ها
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'Css/Interior.css' %}">
    <link rel="stylesheet" href="{% static 'Css/Project.css' %}">
{% endblock %}
<!DOCTYPE html>
<html lang="en">


<body>
{% block content %}
    {% include 'includes/header2.html' %}
    <main>
        <div class="container">
            <div class="row mt-5 mb-5">
                <form method="get" action="{% url 'projects_app:search_result' %}">
                    <input type="search" name="q" class="form-control col-md-6 border-0 mt-3 mb-4" placeholder="Search">
                </form>
                <ul class="list-group list-group-horizontal flex-wrap container-fluid">
                    <li class="list-group-item btn btn-outline-dark mx-1 mb-2 px-2 projectType projectType0 text-dark EN text-nowrap" data-filter="all">All</li>
                    <li class="list-group-item btn btn-outline-dark mx-1 mb-2 px-2 projectType projectType0 text-dark FA text-nowrap" data-filter="all">همه</li>
                    <li class="list-group-item btn btn-outline-dark mx-1 mb-2 px-2 projectType projectType1 text-dark EN text-nowrap" data-filter="office">Office</li>
                    <li class="list-group-item btn btn-outline-dark mx-1 mb-2 px-2 projectType projectType1 text-dark FA text-nowrap" data-filter="office">دفتر</li>
                    <li class="list-group-item btn btn-outline-dark mx-1 mb-2 px-2 projectType projectType2 text-dark EN text-nowrap" data-filter="residential">Residential </li>
                    <li class="list-group-item btn btn-outline-dark mx-1 mb-2 px-2 projectType projectType2 text-dark FA text-nowrap" data-filter="residential">مسکونی </li>
                    <li class="list-group-item btn btn-outline-dark mx-1 mb-2 px-2 projectType projectType3 text-dark EN text-nowrap" data-filter="hotel">Hotel </li>
                    <li class="list-group-item btn btn-outline-dark mx-1 mb-2 px-2 projectType projectType3 text-dark FA text-nowrap" data-filter="hotel">هتل </li>
                    <li class="list-group-item btn btn-outline-dark mx-1 mb-2 px-2 projectType projectType4 text-dark EN text-nowrap" data-filter="retail">Retail</li>
                    <li class="list-group-item btn btn-outline-dark mx-1 mb-2 px-2 projectType projectType4 text-dark FA text-nowrap" data-filter="retail">خرده فروشی </li>
                    <li class="list-group-item btn btn-outline-dark mx-1 mb-2 px-2 projectType projectType5 text-dark EN text-nowrap" data-filter="corporate">Corporate</li>
                    <li class="list-group-item btn btn-outline-dark mx-1 mb-2 px-2 projectType projectType5 text-dark FA text-nowrap" data-filter="corporate">شرکت بزرگ</li>
                    <li class="list-group-item btn btn-outline-dark mx-1 mb-2 px-2 projectType projectType6 text-dark EN text-nowrap" data-filter="exhibition">Exhibition</li>
                    <li class="list-group-item btn btn-outline-dark mx-1 mb-2 px-2 projectType projectType6 text-dark FA text-nowrap" data-filter="exhibition">نمایشگاه </li>
                    <li class="list-group-item btn btn-outline-dark mx-1 mb-2 px-2 projectType projectType7 text-dark EN text-nowrap" data-filter="education">Education</li>
                    <li class="list-group-item btn btn-outline-dark mx-1 mb-2 px-2 projectType projectType7 text-dark FA text-nowrap" data-filter="education">تحصیلات</li>
                    <li class="list-group-item btn btn-outline-dark mx-1 mb-2 px-2 projectType projectType8 text-dark EN text-nowrap" data-filter="public">Public</li>
                    <li class="list-group-item btn btn-outline-dark mx-1 mb-2 px-2 projectType projectType8 text-dark FA text-nowrap" data-filter="public">عمومی </li>
                    <li class="list-group-item btn btn-outline-dark mx-1 mb-2 px-2 projectType projectType9 text-dark EN text-nowrap" data-filter="green">Green </li>
                    <li class="list-group-item btn btn-outline-dark mx-1 mb-2 px-2 projectType projectType9 text-dark FA text-nowrap" data-filter="green">سبز </li>
                    <li class="list-group-item btn btn-outline-dark mx-1 mb-2 px-2 projectType projectType10 text-dark EN text-nowrap" data-filter="high rise">High Rise </li>
                    <li class="list-group-item btn btn-outline-dark mx-1 mb-2 px-2 projectType projectType10 text-dark FA text-nowrap" data-filter="high rise">بلند مرتبه </li>
                    <li class="list-group-item btn btn-outline-dark mx-1 mb-2 px-2 projectType projectType11 text-dark EN text-nowrap" data-filter="transportation">Transportation </li>
                    <li class="list-group-item btn btn-outline-dark mx-1 mb-2 px-2 projectType projectType11 text-dark FA text-nowrap" data-filter="transportation">حمل و نقل </li>
                    <li class="list-group-item btn btn-outline-dark mx-1 mb-2 px-2 projectType projectType12 text-dark EN text-nowrap" data-filter="living bridge">Living Bridge </li>
                    <li class="list-group-item btn btn-outline-dark mx-1 mb-2 px-2 projectType projectType12 text-dark FA text-nowrap" data-filter="living bridge">پل زندگی </li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="row mt-5">
                {% for project in projects %}
                <div class="col-md-4 col-sm-12 mb-4 {{ project.category.first.title }}">
                    <a href="{{ project.get_absolute_url }}"><img src="{{ project.cover_image.url }}" alt="project image" class="img-fluid mb-3"></a>
                    <span class="AJensonPro mt-3">{{ project.title }}</span><br>
                    <span class="d-inline-block mt-1">{{ project.location }}</span>
                    <span class="d-inline-block AJensonPro">{{ project.planning }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
</body>

</html>