{% extends 'base.html' %}
{% load static %}
{% block description %}
{#description#}
{% endblock %}
{% block title %}
    Fj Group | محتوا
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'Css/Content.css' %}">
    <link rel="stylesheet" href="{% static 'Css/Interior.css' %}">
    <link rel="stylesheet" href="{% static 'Css/Project.css' %}">
{% endblock %}
<!DOCTYPE html>
<html lang="en">


<body>
{% block content %}
{% include 'includes/header2.html' %}
    <main>
    {% for content in content %}
        <a href="{{ content.get_absolute_url }}" style="text-decoration: none; color: black;">
        <div class="area pt-5 pb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-5 col-sm-12 col-12 text-end">
                        <img src="{{ content.cover_image.url }}" alt="{{ content.title }}" class="img-fluid w-50 mb-2">
                        <img src="{{ content.second_cover_image.url }}" alt="{{ content.title }}" class="img-fluid w-50">
                    </div>

                    <div class="col-md-5 col-sm-12 col-12">
                        <h2 class="w-75 lh-base EN">{{ content.title}}</h2>
                        <h2 class="w-75 lh-base FA">{{ content.persian_title }}</h2>
                        <h4 class="text-secondary mb-4 EN">{{ content.created_at.day }},{{ content.created_at.month }},{{ content.created_at.year }}</h4>
                        <h4 class="text-secondary mb-4 FA">{{ content.created_at.day }},{{ content.created_at.month }},{{ content.created_at.year }}</h4>
                        <p class="w-75 lh-lg EN">{{ content.description }}</p>
                        <p class="w-75 lh-lg FA">{{ content.persian_description }}</p>
                    </div>
                </div>

            </div>
        </div>
        </a>
    {% endfor %}

    </main>
{% endblock %}
</body>


</html>