{% load static %}
     <footer class="mt-5">
        <div class="footer-part-1">
            <div class="container">
                <div class="row p-5 justify-content-center">
                    <div class="col-md-2 lh-base text-sm-center">
                        <a href="" class="text-dark text-decoration-none EN mb-sm-3">ARCHITECTURE</a><br>
                        <a href="" class="text-dark text-decoration-none FA">معماری</a>
                        <a href="" class="text-dark text-decoration-none EN">DESIGN</a><br>
                        <a href="" class="text-dark text-decoration-none FA">طراحی</a>
                        <a href="" class="text-dark text-decoration-none EN">INTERIOR</a><br>
                        <a href="" class="text-dark text-decoration-none FA">داخلی</a>
                    </div>
                    <div class="col-md-2 lh-base text-sm-center">
                        <a href="" class="text-dark text-decoration-none EN">Corporate</a><br>
                        <a href="" class="text-dark text-decoration-none FA">شرکت بزرگ</a>
                        <a href="" class="text-dark text-decoration-none EN">Education</a><br>
                        <a href="" class="text-dark text-decoration-none FA">تحصیلات</a>
                        <a href="" class="text-dark text-decoration-none EN">Hotel</a><br>
                        <a href="" class="text-dark text-decoration-none FA">هتل</a>
                        <a href="" class="text-dark text-decoration-none EN">Office</a><br>
                        <a href="" class="text-dark text-decoration-none FA">دفتر</a>
                        <a href="" class="text-dark text-decoration-none EN">Residential</a><br>
                        <a href="" class="text-dark text-decoration-none FA">مسکونی</a>
                        <a href="" class="text-dark text-decoration-none EN">Retail</a><br>
                        <a href="" class="text-dark text-decoration-none FA">خرده فروشی</a>
                    </div>
                    <div class="col-md-2 lh-base text-sm-center">
                        <a href="" class="text-dark text-decoration-none EN">Green</a><br>
                        <a href="" class="text-dark text-decoration-none FA">سبز</a>
                        <a href="" class="text-dark text-decoration-none EN">High Rise</a><br>
                        <a href="" class="text-dark text-decoration-none FA">بلند مرتبه</a>
                        <a href="" class="text-dark text-decoration-none EN">Living Bridge</a><br>
                        <a href="" class="text-dark text-decoration-none FA">پل زندگی</a>
                        <a href="" class="text-dark text-decoration-none EN">Public</a><br>
                        <a href="" class="text-dark text-decoration-none FA">عمومی</a>
                        <a href="" class="text-dark text-decoration-none EN">Transportation</a><br>
                        <a href="" class="text-dark text-decoration-none FA">حمل و نقل</a>
                    </div>
                    <div class="col-md-2 lh-base text-sm-center">
                        <a href="" class="text-dark text-decoration-none EN">ABOUT</a><br>
                        <a href="" class="text-dark text-decoration-none FA">درباره</a>
                        <a href="" class="text-dark text-decoration-none EN">NEWS</a><br>
                        <a href="" class="text-dark text-decoration-none FA">اخبار</a>
                        <a href="" class="text-dark text-decoration-none EN">DATENSCHUTZ</a><br>
                        <a href="" class="text-dark text-decoration-none FA">DATENSCHUTZ</a>
                    </div>
                    <div class="col-md-2 lh-base text-sm-center">
                        <a href="" class="text-dark text-decoration-none EN">Hadi Teherani</a><br>
                        <a href="" class="text-dark text-decoration-none FA"> هادی تهرانی  </a>
                        <a href="" class="text-dark text-decoration-none EN">Jobs</a><br>
                        <a href="" class="text-dark text-decoration-none FA">مشاغل</a>
                        <a href="" class="text-dark text-decoration-none EN">Offices</a><br>
                        <a href="" class="text-dark text-decoration-none FA">دفاتر</a>
                        <a href="" class="text-dark text-decoration-none EN">Profil</a><br>
                        <a href="" class="text-dark text-decoration-none FA">نمایه</a>
                        <a href="" class="text-dark text-decoration-none EN">Team</a><br>
                        <a href="" class="text-dark text-decoration-none FA">تیم</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-part-2">
            <div class="container">
                <div class="row p-3 justify-content-end align-items-baseline">
                    <a href="" class="text-dark col-md-1 mb-3 text-center align-self-center"><i class="bi bi-linkedin h4"></i></a>
                    <a href="" class="text-dark col-md-1 mb-3 text-center align-self-center"><i class="bi bi-instagram h4"></i></a>

                    <a href="" class="text-dark text-decoration-none col-md-1 mb-3 EN text-center align-self-center">Contact</a>
                    <a href="" class="text-dark text-decoration-none col-md-1 mb-3 FA text-center align-self-center">مخاطب</a>
                    <a href="" class="text-dark text-decoration-none col-md-1 mb-3 EN text-center align-self-center">Imprint</a>
                    <a href="" class="text-dark text-decoration-none col-md-1 mb-3 FA text-center align-self-center">چاپ کردن</a>
                </div>
            </div>
        </div>
    </footer>