{% load static %}
    <header class="top-0">
        <div class="container">
            <nav class="navbar navbar-expand-lg mt-4 px-2 py-0">
                <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item bg-transparent border-0 px-2">
                            <a class="nav-link text-dark" id="lang">FA</a>
                        </li>
                        <li class="nav-item bg-transparent border-0 px-2 navitem">
                            <a class="nav-link text-dark EN text-nowrap" href="{% url 'projects_app:structure' %}">Structure</a>
                            <a class="nav-link text-dark FA text-nowrap" href="{% url 'projects_app:structure' %}">زیر ساخت</a>
                        </li>
                        <li class="nav-item bg-transparent border-0 px-2 navitem">
                            <a class="nav-link text-dark EN" href="{% url 'projects_app:interior' %}">Interior</a>
                            <a class="nav-link text-dark FA" href="{% url 'projects_app:interior' %}">داخلی</a>
                        </li>
                        <li class="nav-item bg-transparent border-0 px-2 navitem">
                            <a class="nav-link text-dark EN" href="{% url 'projects_app:exterior' %}">Exterior</a>
                            <a class="nav-link text-dark FA" href="{% url 'projects_app:exterior' %}">بیرونی</a>
                        </li>
                        <li class="nav-item bg-transparent border-0 px-2 navitem">
                            <a class="nav-link text-dark EN" href="{% url 'projects_app:objects' %}">Objects</a>
                            <a class="nav-link text-dark FA" href="{% url 'projects_app:objects' %}">شی</a>
                        </li>
                        <li class="nav-item bg-transparent border-0 px-2 navitem">
                            <a class="nav-link text-dark EN text-nowrap" href="{% url 'article_app:articles' %}">Our Articles</a>
                            <a class="nav-link text-dark FA text-nowrap" href="{% url 'article_app:articles' %}">مقالات ما</a>
                        </li>
                        <li class="nav-item bg-transparent border-0 px-2 navitem">
                            <a class="nav-link text-dark EN" href="{% url 'content_app:content' %}">Content</a>
                            <a class="nav-link text-dark FA" href="{% url 'content_app:content' %}">محتوا</a>
                        </li>
                        <li class="nav-item bg-transparent border-0 px-2 navitem">
                            <a class="nav-link text-dark EN text-nowrap" href="{% url 'about_app:about' %}#Contactus">Contact us</a>
                            <a class="nav-link text-dark FA text-nowrap" href="{% url 'about_app:about' %}#Contactus">ارتباط با ما</a>
                        </li>
                        <li class="nav-item bg-transparent border-0 px-2 navitem">
                            <a class="nav-link text-dark EN text-nowrap" href="{% url 'about_app:about' %}">About us</a>
                            <a class="nav-link text-dark FA text-nowrap" href="{% url 'about_app:about' %}">درباره ما</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-item text-nowrap brand order-5 align-items-center py-1">
                    <a href="" class="text-decoration-none">
                        <h3 class="text-secondary d-inline-block brand-text">FJ</h3>
                        <h3 class="text-dark d-inline-block brand-text">Group</h3>
                    </a>
                </div>
            </nav>
        </div>
    </header>