@font-face {
    font-family: "AvenirNext";
    src: url(../Fonts/AvenirNext/AvenirNextLTPro-Regular.otf);
}

@font-face {
    font-family: "iransans";
    src: url("../Fonts/teqh_iransansweb.ttf");
}

* {
    font-family: "AvenirNext";
    letter-spacing: 1px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F6F6F6;
    overflow-x: hidden;
}

.FA {
    font-family: "iransans";
}

a {
    border-radius: 0 !important;
}


/* start footer */

.footer-part-1 {
    background-color: #FFFA82;
}

.footer-part-2 {
    background-color: #F9F07D;
}

.col-md-2 {
    line-height: 35px;
}

footer {
    padding-top: -10px;
}


/* end footer */

.bi-x {
    font-size: 50px;
}

.carousel-control-prev {
    margin-left: -135px;
}

.carousel-control-next {
    margin-right: -135px;
}

.brand-text {
    font-weight: 900;
}

.brand {
    margin-left: 267px;
}

.navitem:active {
    border-bottom: 1px solid black !important;
    bottom: 1px !important;
    transition: all 0.4s ease !important;
}

#lang {
    cursor: pointer;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}