{% extends 'base.html' %}
{% load static %}
{% block description %}
{#description#}
{% endblock %}
{% block title %}
    Fj Group | درباره ما
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'Css/AboutUs.css' %}">
    <link rel="stylesheet" href="{% static 'Css/Interior.css' %}">
    <link rel="stylesheet" href="{% static 'Css/Project.css' %}">
{% endblock %}
<!DOCTYPE html>
<html lang="en">


<body>
    {% block content %}
        {% include 'includes/header2.html' %}
                <div class="container pt-5">
            <div class="row justify-content-center">
                <div class="col-md-5 col-sm-12 col-12 text-center mb-3">
                    <img src="{% static 'Gallery/hadi 1.png' %}" class="img-fluid img-thumbnail mb-3" alt="hadi tehrani">
                    <h2 class="mt-2  EN">Fj Group</h2>
                    <h2 class="mt-2 FA">گروه اف جی</h2>
                    <h4 class="AJensonPro EN">Architect & Designer</h4>
                    <h4 class="FA">معمار و طراح</h4>
                </div>

                <div class="col-md-5 col-sm-12 col-12 w-50">
                    <p class="headertext lh-lg mx-auto EN">Hadi Teherani – born in Tehran in 1954, grew up in Hamburg – is an extremely productive and diverse, internationally awarded German architect and designer. His work is executed regardless of borders in every respect, transcending nationalities
                        and specialist disciplines. The projects target atmospheric charisma, emotional urgency and an ecologically sound sustainability that is already laid out in the design. The first “green“ railway station in Germany at Frankfurt
                        Airport and the Cologne “Crane Houses” on the banks of the River Rhine have become effective landmarks to a large extent like many international projects. In his unusually far-reaching competence from architecture to urban planning,
                        to interior and product design, compositions succeed in which all elements interact harmoniously. Abu Dhabi, Berlin, Dubai, Hamburg, Istanbul, Copenhagen, Rome and Tehran are some of the metropolitan cities for which plans are
                        being drawn up, as well as Moscow and Mumbai. The e-bike, the conference table (Thonet), the office Chair Silver (Interstuhl), modular collections (Carpet Concept), lights (Prolicht/Zumtobel), showrooms and flagship stores (Kiton)
                        likewise belong to the catalogue of works, just as high-rise buildings, corporate centres, council offices, shopping worlds, hotels, railway stations, schools and universities. In recent years particularly innovative concepts for
                        sustainable urban residential construction have been developed and realised. At the end of 2020 Hadi Teherani was decorated with the Order of Merit of the Federal Republic of Germany for his achievements in the fields of architecture
                        and design.</p>
                    <p class="headertext lh-lg mx-auto FA">لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح
                        سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد. معمولا طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی استفاده می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان
                        دهند که صفحه طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی که طراحان عموما نویسنده متن نیستند و وظیفه رعایت حق تکثیر متون را ندارند و
                        در همان حال کار آنها به نوعی وابسته به متن می‌باشد آنها با استفاده از محتویات ساختگی، صفحه گرافیکی خود را صفحه‌آرایی می‌کنند تا مرحله طراحی و صفحه‌بندی را به پایان برند.</p>
                </div>
            </div>
        </div>
    <main>
        <div class="text">
            <div class="container">
                <div class="row py-5 justify-content-center">
                    <div class="col-md-5 col-sm-12 text-center">
                        <h4 class="AJensonPro w-50 lh-base EN mx-auto">Urban space, architecture, interior design and product design are inseparable.</h4>
                        <h4 class="AJensonPro w-50 lh-base FA mx-auto">لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی </h4>
                        <h4 class="AJensonPro w-50 lh-base EN mx-auto">My holistic approach repeatedly challenges me to push the boundaries of my designs.</h4>
                        <h4 class="AJensonPro w-50 lh-base FA mx-auto">لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنع</h4>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <p class="w-75 lh-lg EN mx-auto">"Connecting people emotionally to their home and place of work, and creating an atmosphere of identification and inspiration, requires more than just architectural space. Architecture provides the basic foundation for a spatial
                            idea. But only the realisation of a complex design idea - from the smallest room furnishing to the identity of an entire company - can provide a comprehensive overall design concept. Through the synthesis of architecture and
                            design, a successful composition can evolve to create an atmospherically perfect room. This is why I, as an architect, prefer to work without borders. By collaborating under one roof at the Elbe River Lofthouse, the Hadi Teherani
                            Group is able to think in a comprehensive manner by using all synergies of the group to advise, design and realize every aspect of a project. My clients benefit from a comprehensive range of advisory services that are customised
                            for each individual case, but can also be enhanced or redefined at any time." Hadi Teherani</p>
                        <p class="w-75 lh-lg FA mx-auto">"Connecting people emotionally to their home and place of work, and creating an atmosphere of identification and inspiration, requires more than just architectural space. Architecture provides the basic foundation for a spatial
                            idea. But only the realisation of a complex design idea - from the smallest room furnishing to the identity of an entire company - can provide a comprehensive overall design concept. Through the synthesis of architecture and
                            design, a successful composition can evolve to create an atmospherically perfect room. This is why I, as an architect, prefer to work without borders. By collaborating under one roof at the Elbe River Lofthouse, the Hadi Teherani
                            Group is able to think in a comprehensive manner by using all synergies of the group to advise, design and realize every aspect of a project. My clients benefit from a comprehensive range of advisory services that are customised
                            for each individual case, but can also be enhanced or redefined at any time." Hadi Teherani</p>
                        <p class="w-75 lh-lg EN mx-auto">Within our headquarters, closely connected yet individually organised on separate floors, clients will find a network of experts from the worlds of architecture, interior design, product design and consulting who provide solutions
                            for design, communication and organisation. This environment enables Hadi Teherani to create living space not only partially, but also comprehensively and in its entirety, using an innovative approach to urban design via architecture
                            and interior spaces that are inspired by their atmosphere. Both clients and partners are offered extensive advisory services with synergism that has repeatedly created award-winning solutions achieving international acclaim
                            in both architecture and design.</p>
                        <p class="w-75 lh-lg FA mx-auto">Within our headquarters, closely connected yet individually organised on separate floors, clients will find a network of experts from the worlds of architecture, interior design, product design and consulting who provide solutions
                            for design, communication and organisation. This environment enables Hadi Teherani to create living space not only partially, but also comprehensively and in its entirety, using an innovative approach to urban design via architecture
                            and interior spaces that are inspired by their atmosphere. Both clients and partners are offered extensive advisory services with synergism that has repeatedly created award-winning solutions achieving international acclaim
                            in both architecture and design.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container w-75">
            <div class="row justify-content-center mt-4">
                <div class="col-md-6 col-sm-12">
                    <div class="box mb-5 w-75 mx-auto">
                        <button class="accordion blue text-white"><h2 class="text-center mb-3 mt-2">Architecture</h2><h4 class="lh-base AJensonPro">Ganzheitlichkeit, urbaner Anspruch und hochwertiges Design charakterisieren unsere Architektur. Die Bewertungsskalen „Green Building“ und  „DGNB“ bilden den Rahmen für die Werthaltigkeit unserer Bauten im Rahmen der langfristigen Lebenszyklusbetrachtung.</h4>
                            <i class="bi bi-chevron-compact-down d-flex justify-content-center h3 text-white"></i>
                        </button>
                        <div class="panel blue text-white">
                            <p class="lh-lg">Faszination und Herausforderung liegen für uns darin, die spezifischen Bedingungen des Auftraggebers und der Aufgabenstellung mit dem Standort und den Herausforderungen der Zukunft möglichst langfristig und nachhaltig zu verknüpfen
                                - mit anderen Worten ökonomisch und ökologisch. Funktionalität, Wirtschaftlichkeit und Nachhaltigkeit der Projekte sind die Essentials unserer Arbeit. Langfristige Nutzbarkeit gründet aber immer auch auf emotionaler Begeisterung
                                und architektonischer Leidenschaft. Darum soll unsere Architektur Emotionen wecken und den urbanen Kontext so markant wie sensibel fortschreiben. Dafür stehen zum Beispiel auch Entwürfe von „Living Bridges“, die Wasserwege
                                überspannen und Stadtteile verbinden. Zahlreiche Innovationen und Architekturpreise sowie konstante Arbeits-, Entwicklungs- und Optimierungsprozesse unseres Büros sind das Ergebnis dieses grundlegenden Anspruchs.</p>
                        </div>
                    </div>

                    <div class="box mb-5 w-75 mx-auto">
                        <button class="accordion red text-white"><h2 class="text-center mb-3 mt-2">Consulting</h2><h4 class="lh-base AJensonPro">Mit der durchgängigen Bündelung der maßgeblichen Managementleistungen in einer Hand entsteht eine stabile und umsetzungsstarke Projektorganisation, die für den Bauherren nachhaltige Vorteile bietet.</h4>
                            <i class="bi bi-chevron-compact-down d-flex justify-content-center h3 text-white"></i>
                        </button>
                        <div class="panel red text-white">
                            <p class="lh-lg">Die Hadi Teherani Consultants bieten von der Bauleitung bis hin zur Besetzung des verantwortlichen, technischen Projektleiters alle wesen­ lichen Leistungen zur Umsetzung des Bauprojektes an.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="box mb-5 w-75 mx-auto">
                        <button class="accordion purple text-white"><h2 class="text-center mb-3 mt-2">Interior</h2><h4 class="lh-base AJensonPro">Die Hadi Teherani Interior GmbH entwickelt Raumkonzepte, die Atmosphäre schaffen, Emotionalität vermitteln und Identität stiften.</h4>
                            <i class="bi bi-chevron-compact-down d-flex justify-content-center h3 text-white"></i>
                        </button>
                        <div class="panel purple text-white">
                            <p class="lh-lg">Alle Innenarchitektur-Projekte gründen auf dem ganzheitlichen Anspruch, der die Arbeit von Hadi Teherani grundsätzlich auszeichnet. Zusammen mit unseren Kunden erarbeiten wir individuelle Lösungen für den Ort und dessen Bestimmung.
                                Durch diesen Grundsatz geleitet, bietet das HT Interior Team neben Konzeption, Entwurf und Planung das komplexe Know-How der räumlichen Erfahrung von Hadi Teherani. Innenräume – ob im Privaten oder für Hotels, Messen, Shops,
                                Büros und wissenschaftliche Einrichtungen – werden so immer zu etwas Einzigartigem.</p>
                        </div>
                    </div>

                    <div class="box mb-5 w-75 mx-auto">
                        <button class="accordion brown text-white"><h2 class="text-center mb-3 mt-2">Design</h2><h4 class="lh-base AJensonPro">Das Produkt- und Kommunikationsdesign von Hadi Teherani ist geprägt von innovativen Ideen, einer emotionalen Aussage und einer spezifischen architektonischen Formensprache.</h4>
                            <i class="bi bi-chevron-compact-down d-flex justify-content-center h3 text-white"></i>
                        </button>
                        <div class="panel brown text-white">
                            <p class="lh-lg">Nachhaltigkeit und Wertbeständigkeit stehen ebenso im Mittelpunkt wie der Mehrwert des Produkts. Konzeption und Entwicklung bis zur Realisierung der Prototypen und der Kommunikation der Produkteinführung kommen aus einer Hand.
                                Zahlreiche maßgeschneiderte Lösungen für namhafte Firmen wie Carpet Concept, FSB, Keramag, Interstuhl, Poggenpohl, Thonet, Vorwerk, Walter Knoll und Zumtobel belegen den Erfolg unserer konzeptionellen Arbeit. Zahlreiche
                                Preise und Auszeichnungen spiegeln den Erfolg des Produkt- und Kommunikationsdesigns beim Publikum wie in der Fachwelt wider.</p>
                        </div>
                    </div>

                    <div class="box mb-5 w-75 mx-auto">
                        <button class="accordion yellow"><h2 class="text-center mb-3 mt-2">Solar</h2><h4 class="lh-base AJensonPro">We Have Orchestrated Innovative Constructions. With the Sun in Mind. Keystone to Hadi Teherani Solar’s foundation is to embrace this political agenda. As architects we orchestrate creative designs with the utmost energy efficiency. Implementing photovoltaics into your building acts as the perfect finish: both in aesthetics and function.</h4>
                            <i class="bi bi-chevron-compact-down d-flex justify-content-center h3 text-dark"></i>
                        </button>
                        <div class="panel yellow">
                            <p class="lh-lg">Our philosophy regards photovoltaics not only as a precious energy supply, but also as a contributor to environmental protection. Solar energy alone has the potential to deliver sufficient energy to cover at least twice the
                                world’s current demands. We convert your personal project with professional craftmanship at an affordable price. You will be assisted on every step of your route to photovoltaic investment. You will get everything from
                                one source: offer and consulting, financing, construction supervision, and post construction support.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mb-5 w-75">
            <h2 class="EN">Team</h2>
            <h2 class="FA">تیم</h2>
            <div class="row col-md-8 col-sm-12">
                <p class="w-75 lh-lg mb-4 EN">Throughout the teams our work is distinctly characterised by an inquisitiveness towards complex issues, by enthusiasm for out-of-the-ordinary approaches that transcend the borders of specialised fields, and by a passion for innovations
                    that constantly keep a close eye on our benchmarks economy and ecology, sustainability and value retention.</p>
                <p class="w-75 lh-lg mb-4 FA">Throughout the teams our work is distinctly characterised by an inquisitiveness towards complex issues, by enthusiasm for out-of-the-ordinary approaches that transcend the borders of specialised fields, and by a passion for innovations
                    that constantly keep a close eye on our benchmarks economy and ecology, sustainability and value retention.</p>
            </div>
            <div class="row justify-content-center">
                {% for member in team_members %}
                <div class="col-md-3 col-sm-12 mx-auto mb-4">
                    <img src="{{ member.image.url }}" class="img-fluid mb-2" alt="{{ member.full_name }}"><br>
                    <small>{{ member.full_name}}</small><br>
                    <small>{{ member.bio }}</small><br>
                    <button class="btn btn-outline-dark mt-2 p-2 py-0">{{ member.job }}</button>
                    <a href="{% url 'about_app:vita_download' member.id %}" class="text-dark">Vita <i class="bi bi-download h5"></i></a>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="container mt-5 mb-5 lh-lg w-75">
            <h2 class="mb-5 EN">Offices national & international</h2>
            <h2 class="mb-5 FA">دفاتر ملی و بین المللی</h2>
            {% for item in contact %}
            <div id="ContactUs">
                <h4 class="EN">{{ item.location_title }}</h4>
                <h4 class="FA">{{ item.persian_location_title }}</h4>
                <small class="d-block EN">Fj Group</small>
                <small class="d-block FA">گروه اف جی</small>
                <small class="d-block EN">{{ item.location }}</small>
                <small class="d-block FA">{{ item.persian_location }}</small>
                <small class="d-block EN">Contact: {{ item.contact }}</small>
                <small class="d-block FA">تماس:{{ item.persian_contact }}</small>
                <small class="d-block EN">Phone {{ item.phone }} - {{ item.second_phone }}</small>
                <small class="d-block FA">تلفن: {{ item.phone }} - {{ item.second_phone }}</small>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
</body>


</html>